* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/HE7vkaBa0AAjOno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: monospace;
}

.container {
    width: 100%;
    margin: 150px auto;
    text-align: center;
}

.heading {
    font-size: 2rem;
    background-color: black;
    width: 35%;
    flex-wrap: wrap;
    color: white;
    margin: 25px auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.quote-container {

    background-color: white;
    width: 35%;
    margin: 35px auto;
    border: 6px black solid;
    border-radius: 10px;
    box-shadow: 0 0 40px black;
    padding: 20px;
    height: 350px;
}

#famous-quotes {
    font-style: italic;
    margin: 20px;
    font-size: 1.3rem;
}

.person {
    padding: 20px;
    margin: 20px auto;
    padding: 20px;
    font-size: 1.2rem;
}

.year-of-quote {
    margin: 20px;
    padding: 20px;
    font-size: 1rem;
}

.quote-generator-btn {
    background-color: black;
    font-family: inherit;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px white solid;
    cursor: pointer;
    font-weight: bold;
}

.quote-generator-btn:active {
    background-color: lightcoral;
    transition: .1s ease;
}